html, body {
  height: 100%; /* Asegura que el html y body ocupen toda la altura */
  margin: 0;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Fondo degradado */
  color: #fff; /* Texto blanco para mejor contraste */
}
.container {
  min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura de la pantalla */
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}
.card {
  background-color: rgba(255, 255, 255, 0.1); /* Transparencia para la tarjeta */
  backdrop-filter: blur(5px); /* Efecto de desenfoque detrás de la tarjeta */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil para la tarjeta */
  box-shadow: 0 5px 15px rgba(0,0,0,.5); /* Sombra más pronunciada para la tarjeta */
}
.card-body {
  padding: 2rem;
}
.form-control {
  background-color: rgba(255, 255, 255, 0.1); /* Transparencia para los inputs */
  border: 1px solid rgba(255, 255, 255, 0.4); /* Borde para los inputs */
  color: #fff; /* Texto blanco para los inputs */
  border-radius: 20px;
  padding: 25px 15px;
  font-size: 16px;
}
.form-group label {
  font-size: 18px;
  font-weight: 500;
}
.btn-primary {
  background-color: #0056b3;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,.2);
}
.btn-primary:hover {
  background-color: #003d82;
}
.text-danger {
  font-size: 14px;
}

/* Estilos para las características */
.features i {
  color: #0056b3; /* Color que combine con tu esquema de diseño */
}

.features h3 {
  margin-top: 1rem;
  font-weight: bold;
}

/* Estilos para los testimonios */
.testimonials {
  background-color: #f8f9fa; /* Un fondo claro para la sección de testimonios */
}

.testimonial {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para las tarjetas de testimonios */
}

.testimonial p {
  font-style: italic; /* Estilo de fuente para los testimonios */
}

blockquote footer {
  font-weight: bold; /* Negrita para el nombre del cliente */
}
.custom-carousel .carousel-item img {
  max-height: 1px; /* Ajusta esto a la altura que prefieras */
  width: auto;
  margin: auto; /* Esto centrará las imágenes si son más pequeñas que el ancho del contenedor */
}
