/* Asegúrate de que el contenido de la página no se desplace debajo de la barra de navegación */
body {
  padding-top: 56px;
}

/* Centra el texto en la sección de hero */
.hero h1, .hero p {
  margin: 0;
}

/* Añade algo de espacio alrededor del botón en la sección de hero */
.hero .btn {
  margin-top: 20px;
}
.image-container {
  position: relative;
  width: 100%;
  height: 50vh; /* Ajusta la altura a la mitad de la pantalla */
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra toda el área sin deformarse */
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Agrega estilos modernos y personalizados aquí si es necesario */
