<div class="container mt-5">
  <h2 class="text-center mb-4">User Profile</h2>
  <form (ngSubmit)="saveSettings()" class="profile-form">
    <div class="mb-3">
      <label for="currentUsername" class="form-label">Current Username:</label>
      <input type="text" id="currentUsername" [(ngModel)]="currentUsername" class="form-control" disabled>
    </div>

    <div class="mb-3">
      <label for="newName" class="form-label">New Name:</label>
      <input type="text" id="newName" [(ngModel)]="newName" class="form-control">
    </div>

    <div class="mb-3">
      <label for="newUsername" class="form-label">New Username:</label>
      <input type="text" id="newUsername" [(ngModel)]="newUsername" class="form-control">
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Save Profile</button>
  </form>
</div>

